body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-area{
    display: flex;
    padding-bottom: 50px;
}

#heading{
    font-size: 60px;
    color: rgb(107, 107, 107);;
}

span{
    color: orange;
}

p{
    padding-right: 50px;
}

.half-width{
    width: 45%;
    margin-left: 5%;
    padding: 2%;
}

.half-width img{
    height: 100%;
    width: 100%;
}

.writting-half{
    margin-top: 40px;
}

#first-paragraph{
    color: gray;
}

a{
    height: 50px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 22px;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 22px 50px 5px 50px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 35px;
}

.section-heading{
    font-size: 40px;
    color: rgb(107, 107, 107);
}

#second-section{
    background-image: url(images/background-1.png);
    background-repeat: no-repeat;
}

#second-img{
    height: 550px;
    width: 400px;
}

#recipie-section div{
    padding: 10px 300px;
    text-align: center;
}

#food-section{
    margin: 5px 80px;
    display: flex;
}

#food-section img{
    height: 60%;
    width: 100%;
}

.food-area{
    width: 33%;
    margin: 2%;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 5px 5px 20px lightgray;
}

#subscribers-area{
    display: flex;
    height: 225px;
    margin: 100px 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px lightgray;
    align-items: center;
}

#subscribers-area div{
    width: 30%;
    margin-left: 10%;
}

#subscribers-area h1{
    font-size: 50px;
    margin-bottom: 5px;
}

footer{
    background-color: black;
    height: 250px;
    
}

footer h1{
    padding-top: 35px;
    text-align: center;
}

footer p{
    color: white;
    text-align: center;
    padding-left: 50px;
}
#network{
    color: gray;
}